{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}

            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Enter email") }}
            <br>

            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>

            {{ form.submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
{% endblock %}